<div class="col-xs-10 col-xs-offset-1 about">
	<h1>About Splurty</h1>

	<p>
		This version of Splurty was built by Julia, lighting designer turned web developer out to build things that weren't there before, and help graduating seniors avoid the mistakes she made upon hitting the real world.
	</p>

	<p>
		Along with the help of other recent graduates, Julia hopes to make a useful tool for collecting all the rubbish advice people give recent graduates, and a few useful tidbits, in a single location for easy access.
	</p>

	<div class="col-xs-12 col-sm-4">
		<%= image_tag 'julia.jpg', :class => 'img-responsive' %>
	</div>

	<div class="col-xs-12 col-sm-7 col-sm-offset-1">
		<h2 class="text-center">Julia Simon</h2>
		<br />
		<p>
			Julia Simon is a web developer and operations manager located in New England. Previously, she worked in various theatre companies, designing and managing technical elements of production. Her interests include languages, travel, and baseball.
		</p>
	</div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />